<header id="toolbar">
  <img src="/assets/imgs/main-background_reduced.jpeg" alt="">
  <div id="toolbar-content">
    <div id="owner">
      <span>Simon Hohberg</span>
      <span>SH</span>
      <span>Developer</span>
    </div>
    <span class="filler"></span>
    <nav>
      <a routerLink="/"             routerLinkActive="active" [class.selected]="selected === 'all'">All</a>
      <a routerLink="blog/"         routerLinkActive="active" [class.selected]="selected === 'blog'">Blog</a>
      <a routerLink="project/"     routerLinkActive="active" [class.selected]="selected === 'projects'">Projects</a>
      <a routerLink="publication/" routerLinkActive="active" [class.selected]="selected === 'publications'">Publications</a>
    </nav>
    <!-- <a href="#" class="icon-button">
      <fa name="search"></fa>
    </a> -->
    <a href="https://github.com/Simon-Hohberg" class="icon-button">
      <fa name="github"></fa>
    </a>
    <a href="https://www.linkedin.com/in/simon-hohberg-42b1b2156" class="icon-button">
      <fa name="linkedin"></fa>
    </a>
  </div>
</header>

<div id="top-background" *ngIf="onStartpage">
  <img src="/assets/imgs/main-background_reduced.jpeg" alt="">
  <h1 id="title">Excited about Web & Machine Learning</h1>
</div>

<div id="main-container" [class.header-margin]="!onStartpage || showsPost">
  <div>
    <router-outlet></router-outlet>
  </div>
</div>


