#posts-container {
    /* height: 100vmax; */
    display: flex;
    position: relative;
    /* width: 100%; */
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    background-color: white;
    margin: 0;
    padding: 0;
    justify-content: center;
}

#posts-container > li {
    list-style: none;
}

.post {
    box-shadow: 0px 0px 10px grey;
    width: 300px;
    text-decoration: none;
    padding: 0;
    margin: 20px;
    height: min-content;
}

.post:visited {
    color: rgb(60,60,60);
}

.post:hover {
    box-shadow: 0px 0px 20px rgb(100,100,100);
    margin-top: 18px;
}